@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@600&family=Roboto&display=swap');

/*)
totestthelink
target {
	property: blue;
}
*/
/*body {
	background-color: red;
}
*/
/*
font-family: 'Architects Daughter', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/* Base Structure
target {
	properties
}*/

h1 {
	font-family: 'Architects Daughter', cursive;
	font-size: 72px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	color: #007bff; /*bule*/
}
/* apply to all elements*/
* {
	font-family: 'Roboto', sans-serif;
}

img {
	width: 250px;
	/* browser will automatically compute or estimate the height*/
	border-radius: 50%;
}

ul {
	list-style: none;
	padding: 0;
}

#landing,
#gallery {
	min-height: 80vh;
	/* center the content vertically using flexbox */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

/*to indicate class*/
.tools {
	padding: 25px;
	height: 350px;
	border: 5px solid #f2f2f2; /*light grey*/
	margin: 25px;
	width: 75%;
}

html {
	scroll-behavior: smooth;
}

#landing {
	margin-top: 75px;
}